.loading {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
}

img {
    width: 200px;
}

/* Transparent Overlay */
.loader-panel {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
