<div fxFlex class="container">
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table
        matSort
        mat-table
        matSortDisableClear
        [dataSource]="dataSource"
        (matSortChange)="sortData($event)"
    >
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let row">{{ row.fields.title }}</td>
        </ng-container>

        <!-- Summary Column -->
        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Summary</th>
            <td mat-cell *matCellDef="let row">{{ row.fields.summary }}</td>
        </ng-container>

        <!-- CreatedBy Column -->
        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Created by
            </th>
            <td mat-cell *matCellDef="let row">{{ row.sys.createdBy }}</td>
        </ng-container>

        <!-- UpdatedBy Column -->
        <ng-container matColumnDef="updatedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Updated by
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.sys.updatedBy }}
            </td>
        </ng-container>

        <!-- LastUpdated Column -->
        <ng-container matColumnDef="lastUpdated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Last updated
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.sys.updatedAt | date }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="100"></mat-paginator>
</div>
