<div *ngIf="data.template === 'error'">
    <mat-icon>error</mat-icon> {{ data.text }}
</div>
<div *ngIf="data.template === 'success'">
    <mat-icon>check_circle</mat-icon> {{ data.text }}
</div>
<div *ngIf="data.template !== 'success' && data.template !== 'error'">
    {{ data.text }}
</div>
