@import '../../../theme/theme-variables.scss';

:host {
    display: flex;
    flex: 1;
    width: 100%;
}

.container {
    position: relative;
    table {
        width: 100%;
        table-layout: fixed;

        td,
        th {
            width: 25%;
        }

        mat-header-cell {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        tr.mat-row td {
            padding: 20px 10px 20px 0;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .mat-column-contentType,
        .mat-column-lastUpdated {
            width: 15%;
        }
    }
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
