// Material design icons font path
$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';

$Chore-coat: rgb(7, 71, 166);
$Pacific-bridge: rgb(0, 82, 204);
$Snorlax: rgb(37, 56, 88);
$McFanning: rgb(66, 82, 110);
$Sodium-explosion: rgb(0, 101, 255);
$Coogee: rgb(38, 132, 255);
$Arvo-breeze: rgb(76, 154, 255);
$Schwag: rgb(178, 212, 255);
$Pixie-dust: rgb(222, 235, 255);
$Doctor: rgb(255, 255, 255);
$Concrete-jungle: rgb(80, 95, 121);
$Dragons-blood: rgb(191, 38, 0);
$Fine-pine: rgb(54, 179, 126);
$Squid-ink: rgb(23, 43, 77);
$Sentinel: rgb(179, 186, 197);
