<app-loader *ngIf="isLoading"></app-loader>
<ng-container *ngIf="!isLoading">
    <div fxFill fxFlexLayout="row">
        <aside fxFlex="15%">
            <nav>
                <mat-list fxFlex>
                    <mat-list-item *ngFor="let space of spaces">
                        <a
                            mat-list-item
                            (click)="routeTo(space)"
                            [matTooltip]="space.title"
                        >
                            <span>{{ space.fields.title }}</span>
                        </a>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </nav>
        </aside>
        <main fxFlex="85%">
            <router-outlet></router-outlet>
        </main>
    </div>
</ng-container>
