@import '../theme/theme-variables.scss';

aside {
    height: 100vh;
    min-height: 100%;
    min-width: 215px;
    color: $Doctor;
    background-color: $Pacific-bridge;

    .mat-list-item {
        color: $Doctor;
        text-decoration: none;
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }
}

main {
    overflow: scroll;
    padding: 1%;
    height: 100vh;
    min-height: 100%;
    min-width: 350px;
}
