@import './theme/theme-variables.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button,
a {
    background-color: $Pacific-bridge;
    color: $Doctor;
}

a {
    color: #0052cc;
    font-weight: 500;
}

h1 {
    font-family: 'Charlie Display';
    font-weight: 500;
    font-size: 52px;
    line-height: 60px;
    color: #253858;
    margin-bottom: 24px;
}
h2 {
    font-family: 'Charlie Display';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #253858;
    margin-bottom: 24px;
}
h3 {
    font-family: 'Charlie Display';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #253858;
    margin-bottom: 24px;
    letter-spacing: 0.3px;
}
h4 {
    font-family: 'Charlie Display';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #253858;
    margin-bottom: 24px;
    letter-spacing: 0.3px;
}
h5 {
    font-family: 'Charlie Display';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #253858;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h6 {
    font-family: 'Charlie Display';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #253858;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p.oversized {
    font-family: 'Charlie Display';
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #42526e;
    margin-bottom: 24px;
}
p {
    font-family: 'Charlie Text';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-bottom: 24px;
}
p.long {
    font-family: 'Charlie Text';
    font-feature-settings: 'ss01';
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #091e42;
    margin-bottom: 24px;
}
p.meta {
    font-family: 'Charlie Text';
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #091e42;
    margin-bottom: 20px;
}
p.code {
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo,
        Courier, monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ebecf0;
    background-color: #091e42;
    padding: 24px 40px 32px 40px;
}
p.subtle {
    color: #7a869a;
}

p.key {
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo,
        Courier, monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    background-color: #ebecf0;
    padding: 4px;
    border-radius: 4px;
}

ol {
    line-height: 20px;
}
ul {
    line-height: 20px;
}

.mat-table,
.mat-paginator {
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Mono', Menlo,
        Courier, monospace;
}

// Angular Material Theme Overrides
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $Pacific-bridge;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $Pacific-bridge;
}

snack-bar-container.error {
    color: $Pixie-dust;
    background-color: $Dragons-blood;
    text-align: center;
    app-snack-bar-notification > div {
        line-height: 24px;
    }
    mat-icon {
        float: left;
        padding-right: 20px;
    }
}

snack-bar-container.success {
    color: $Pixie-dust;
    background-color: $Fine-pine;
    text-align: center;
    app-snack-bar-notification > div {
        line-height: 24px;
    }
    mat-icon {
        float: left;
        padding-right: 20px;
    }
}

snack-bar-container.neutral {
    color: $Pixie-dust;
    background-color: $Concrete-jungle;
    text-align: center;
    app-snack-bar-notification > div {
        line-height: 24px;
    }
    mat-icon {
        float: left;
        padding-right: 20px;
    }
}
