@import '../../../theme/theme-variables.scss';

.space-container {
    .space-description {
        border: 2px solid black;
        width: 60%;
        padding: 2%;
    }

    .assets-entries-tabs {
        .mat-elevation-z4 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 16px;
            padding: 16px;
            border-radius: 8px;
        }
    }
}

.mat-tab-label,
.mat-tab-link {
    color: black !important;
}

@media only screen and (max-width: 960px) {
    .space-container {
        .space-description {
            width: 95%;
        }
    }
}
