<app-loader *ngIf="isLoading" [panel]="true"></app-loader>
<ng-container *ngIf="!isLoading">
    <div class="space-container" fxFlex fxLayout="column">
        <div
            fxFlex
            fxLayoutGap="2%"
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutAlign="start center"
        >
            <h1 class="space-title">{{ space.fields.title }}</h1>
            <span>created by {{ space.sys.createdBy }}</span>
        </div>
        <p class="space-description" *ngIf="space.fields.description">
            {{ space.fields.description }}
        </p>

        <ng-container *ngIf="hasAssets || hasEntries">
            <mat-tab-group
                dynamicHeight
                animationDuration="0ms"
                class="assets-entries-tabs"
            >
                <mat-tab label="Entries" #entriesTab *ngIf="hasAssets">
                    <div class="mat-elevation-z4" fxFlex>
                        <app-space-entries-table
                            [entriesData]="entries"
                            *ngIf="entriesTab.isActive"
                        ></app-space-entries-table>
                    </div>
                </mat-tab>
                <mat-tab label="Assets" #assetsTab *ngIf="hasEntries">
                    <div class="mat-elevation-z4" fxFlex>
                        <app-space-assets-table
                            [assetData]="assets"
                            *ngIf="assetsTab.isActive"
                        ></app-space-assets-table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-container>
    </div>
</ng-container>
